<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macro.cattletrak" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SplashActivity"
            android:label="Cattle Trak"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainSelector"
            android:label="@string/title_activity_main_selector" >
        </activity>
        <activity
            android:name=".sign_up"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".CattleManagement"
            android:label="@string/title_activity_cattle_management" >
        </activity>
        <activity
            android:name=".ShowAllCattle"
            android:label="@string/title_activity_show_all_cattle" >
        </activity>
        <activity
            android:name=".CowDetailActivity"
            android:label="Cattle Details" >
        </activity>
        <activity
            android:name=".SearchCattle"
            android:label="@string/title_activity_search_cattle" >
        </activity>
        <activity
            android:name=".CattleAdd"
            android:label="@string/title_activity_cattle_add"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DeactivateCattle"
            android:label="@string/title_activity_deactivate_cattle" >
        </activity>
        <activity
            android:name=".CattleUpdate"
            android:label="@string/title_activity_cattle_update" >
        </activity>
        <activity
            android:name=".CattleUpdateDetails"
            android:label="@string/title_activity_cattle_update_details"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".herdHealthSelector"
            android:label="@string/title_activity_herd_health_selector" >
        </activity>
        <activity
            android:name=".AddHealth"
            android:label="@string/title_activity_add_health" >
        </activity>


    </application>

</manifest>
